:root{
  --text-color:#ffffff;
  --card-front-color:#d4a8da;
  --card-back-color:#9ecceb;
  }
  .cartão_{
    backgroud-color:var(--card-front-color)
    text-align: center;
    height: 100%;
    transform-style: preserve-3d;
    transition:transform 300ms ease-in-out;
  }